@use "../abstracts";

%flexItemsCenter {
     display: flex;
     align-items: center;
}

.header {
     width: 100vw;
     position: relative;
     display: flex;
     padding: 3rem 5rem;
     flex-direction: column;
     align-items: flex-start;
     gap: 1rem;
     background: var(--header-bg-color);
     box-shadow: var(--header-bg-shadow-color);

     @include abstracts.breakpoint(lg) {
          width: 100vw;
          background: var(--header-bg-color);
          box-shadow: var(--header-bg-shadow-color);
     }
     @include abstracts.breakpoint(sm) {
          width: 100vw;
          padding: 16px 0;
          background: var(--header-bg-color);
          box-shadow: var(--header-bg-shadow-color);
     }
     @include abstracts.breakpoint(xl) {
          width: 100vw;
          background: var(--header-bg-color);
          box-shadow: var(--header-bg-shadow-color);
     }
     @include abstracts.breakpoint(xxl) {
          width: 100vw;
          background: var(--header-bg-color);
          box-shadow: var(--header-bg-shadow-color);
     }
}

.top-act__avatar {
     width: 5rem;
     height: 5rem;
     border-radius: 0.8rem;
     background: url(<path-to-image>) var(--top-act-avatar) -205.145px -22.64px /
               819.939% 546.626% no-repeat,
          #dfd2fa;
     box-shadow: 0 4px 14px 2px var(--top-act-avatar-shadow);
     object-fit: cover;
}
.top-bar {
     @extend %flexItemsCenter;
     @include abstracts.breakpoint(lg) {
          padding: 20px 0;
          justify-content: space-between;
     }
     @include abstracts.breakpoint(xl) {
          padding: 15px 0;
          justify-content: space-between;
     }

     @include abstracts.breakpoint(md) {
          padding: 10px 0;
     }
     @include abstracts.breakpoint(sm) {
          padding: 16px 0;
          justify-content: space-between;
     }

     &__more {
          display: none;
          @include abstracts.breakpoint(lg) {
               display: block;
          }
     }
}
.navbar {
     margin-left: 129px;

     @include abstracts.breakpoint(xl) {
          margin-left: 50px;
     }
     @include abstracts.breakpoint(lg) {
          display: none;
     }
     &__item:hover .dropdown {
          display: block;
     }

     &__list {
          display: flex;

          color: var(--Secondary-Color-Secondary-1);
          gap: 30px;
          &--li {
               height: 100px;
               display: flex;
               align-items: center;
          }
     }

     &__link {
          gap: 6px;

          /* Medium 15 */
          font-family: Gordita;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.2rem; /* 146.667% */
     }
     &__arrow {
          margin-bottom: -5px;
          margin-left: 10px;
     }
}
.top-act {
     @include abstracts.breakpoint(lg) {
          margin-left: 125px;
     }

     margin-left: 0;
     @extend %flexItemsCenter;

     &__title {
          margin-left: -10px;
     }
     &__group {
          @extend %flexItemsCenter;
          margin-right: 20px;
          text-align: center;
          border-radius: 0.8rem;
          background: var(--top-act-group-bg-color);
          box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
          @include abstracts.breakpoint(md) {
               display: none;
          }
          @include abstracts.breakpoint(xl) {
               display: none;
          }
     }

     &__group--single {
          margin-left: 20px;
          @include abstracts.breakpoint(lg) {
               display: none;
          }
     }
     &__btn {
          @extend %flexItemsCenter;

          cursor: pointer;
          padding: 1.3rem 2rem;

          gap: 1rem;
     }
     &__separate {
          width: 0.1rem;
          height: 3rem;
          background: var(--Secondary-Color-Secondary-4);
     }
     &__avatar {
          cursor: pointer;
          @include abstracts.breakpoint(xl) {
               margin-left: 20px;
          }
     }
}
