.header {
     display: flex;
     padding: 3rem 5rem;
     flex-direction: column;
     align-items: flex-start;
     gap: 1rem;
     background: var(--Background-3, #eee);
}
.top-act__avatar {
     width: 5rem;
     height: 5rem;
     border-radius: 0.8rem;
     background: url(<path-to-image>) lightgray -205.145px -22.64px / 819.939%
               546.626% no-repeat,
          #dfd2fa;
     box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
     object-fit: cover;
}
.top-bar {
     display: flex;
     align-items: center;
}
.navbar {
     margin-left: 144px;
     margin-right: auto;
     &__list {
          display: flex;

          color: var(--Secondary-Color-Secondary-1, #1a162e);
          gap: 30px;
     }
     &__link {
          gap: 6px;

          /* Medium 15 */
          font-family: Gordita;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.2rem; /* 146.667% */
     }
     &__arrow {
          margin-bottom: 4px;
     }
}
.top-act {
     display: flex;
     align-items: center;
     &__title {
          margin-left: -10px;
     }
     &__group {
          align-items: center;
          display: flex;
          margin-right: 20px;
          text-align: center;
          border-radius: 0.8rem;
          background: var(--Secondary-Color-Background, #fff);
          box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.2);
     }
     &.__group--single &btn {
          padding: 13px;
     }
     &__btn {
          display: flex;

          padding: 1.3rem 2rem;
          align-items: center;
          gap: 1rem;
     }
     &__separate {
          width: 0.1rem;
          height: 3rem;
          background: var(--Secondary-Color-Secondary-4, #ededf6);
     }
}
